@page
@model Hakkers.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Client Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.TelephoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.PostalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
